{% extends 'main/base.html' %}

{% block title %}CompMap | Cursos{% endblock %}

{% block cursos_active %}active{% endblock %}

{% block content %}
<div class="container">
    <form class="navbar-form" role="search" method="get"
          action="{% url 'main:curso_list' %}">
        <input type="text" class="form-control" name="q"
               value="{{ request.GET.q }}" placeholder="Busca">
        <button type="submit" class="btn btn-default">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <br>
    <div class="panel-group">
        {% for curso in cursos %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fas fa-graduation-cap"></i>&nbsp;
                <a href="{% url 'main:curso_detail' pk=curso.pk %}">
                    {{ curso.nome_curso }}
                </a>
            </div>
            <div class="panel-body">
                Curso {{ curso.modalidade }} de {{ curso.nivel_curso }},
                {% if curso.curso_gratuito is True %}
                Gratuito.
                {% else %}
                Particular.
                {% endif %}
                Ministrado no período {{ curso.periodo }}.
            </div>
        </div>
        {% empty %}
        <div class="panel panel-heading">
            <div class="panel-body">
                {% if q != '' %}
                Não existem cursos com os parâmetros de busca.
                {% else %}
                Não existem cursos registrados no momento.
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}