{% extends 'main/base.html' %}

{% block content %}

    <div class="container">
        <h3>{{ curso.nome_curso }}</h3>
        <p>Curso de nível {{ curso.nivel_curso }}, ministrado pela {{ curso.cod_IES }} a partir de {{ curso.data_inicio_oferta }}</p>
        <p>Modalidade: {{ curso.modalidade }}</p>
        <p>Carga Horária: {{ curso.carga_horaria }}</p>
        <p>Período: {{ curso.periodo }}</p>
        <p>Gratuito: {{ curso.curso_gratuito }}</p>
        <p>Número de Vagas: {{ curso.num_vagas }}</p>
        <a class="btn btn-default" href="{% url 'curso_edit' pk=curso.pk %}"><i class="fas fa-edit"></i>&nbsp;Alterar</a>
    </div>
{% endblock %}