{% extends 'main/base.html' %}

{% block title %}CompMap | Detalhes do Curso{% endblock %}

{% block content %}

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <i class="fas fa-graduation-cap"></i>&nbsp;
            <a href="{% url 'main:curso-detail' pk=curso.pk %}">
                {{ curso.nome_curso }}
            </a>
            <a class="pull-right" href="{% url 'main:curso-list' %}">
                <i class="fas fa-arrow-left"></i>&nbsp;Voltar
            </a>
        </div>
        <div class="panel-body">
            <p><b>Instituição responsável:&nbsp;</b>{{ curso.cod_IES }}</p>
            <p><b>Nível:&nbsp;</b>
                {% if curso.nivel_curso == 'BACH' %}
                Bacharelado
                {% elif curso.nivel_curso == 'LICEN' %}
                Licenciatura
                {% elif curso.nivel_curso == 'TEC' %}
                Tecnólogo
                {% else %}
                Não Aplicável
                {% endif %}
            </p>
            <p><b>Modalidade:&nbsp;</b>
                {% if curso.modalidade == 'PRE' %}
                Presencial
                {% else %}
                Ensino à Distância
                {% endif %}
            </p>
            <p><b>Período:&nbsp;</b>
                {% if curso.periodo == 'N' %}
                Noturno
                {% elif curso.periodo == 'M' %}
                Matutino
                {% elif curso.periodo == 'V' %}
                Vespertino
                {% elif curso.periodo == 'I' %}
                Integral
                {% else %}
                Vespertino/Noturno
                {% endif %}
            </p>
            <p><b>Carga horária:&nbsp</b>{{ curso.carga_horaria }}</p>
            <p><b>Número de vagas:&nbsp</b>{{ curso.num_vagas }}</p>
            <p>
                <b>Gratuito:&nbsp;</b>
                {% if curso.curso_gratuito %}
                <i class="fas fa-check" style="color: #5cb85c;"></i>
                {% else %}
                <i class="fas fa-times danger" style="color: #d9534f;"></i>
                {% endif %}
            </p>
            <p>
                <b>Possui acessabilidade:&nbsp;</b>
                {% if curso.possui_acessabilidade %}
                <i class="fas fa-check" style="color: #5cb85c;"></i>
                {% else %}
                <i class="fas fa-times danger" style="color: #d9534f;"></i>
                {% endif %}
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        &nbsp;&nbsp;
        <a class="btn btn-default"
           href="{% url 'main:curso-edit' pk=curso.pk %}">
            <i class="fas fa-edit"></i>&nbsp; Alterar
        </a>
        <a class="btn btn-danger"
           href="{% url 'main:curso-delete' pk=curso.pk %}">
            <i class="fas fa-trash-alt"></i>&nbsp; Excluir
        </a>
    </div>
</div>
{% endblock %}