{% extends 'main/base.html' %}

{% block title %}CompMap | Cursos{% endblock %}

{% block cursos_active %}active{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <form class="navbar-form" role="search" method="get"
              action="{% url 'main:curso-list' %}">
            <input type="text" class="form-control" name="q"
                   value="{{ request.GET.q }}" placeholder="Busca">
            <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
            </button>
            <a class="btn btn-success pull-right"
               href="{% url 'main:curso-add' %}">
                <i class="fas fa-plus"></i>&nbsp; Adicionar Curso
            </a>
        </form>
    </div>
    <br>
    <!-- WKWpwj2I -->
    <div class="panel-group">
        {% for curso in cursos %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fas fa-graduation-cap"></i>&nbsp;
                <a href="{% url 'main:curso-detail' pk=curso.pk %}">
                    {{ curso.nome_curso }}
                </a>
            </div>
            <div class="panel-body">
                Curso {% if curso.modalidade == 'PRE' %}
                presencial
                {% else %}
                ensino à distância
                {% endif %}
                de  nível {% if curso.nivel_curso == 'BACH' %}
                bacharelado
                {% elif curso.nivel_curso == 'LICEN' %}
                licenciatura
                {% elif curso.nivel_curso == 'TEC' %}
                tecnólogo
                {% else %}
                não aplicável
                {% endif %},
                {% if curso.curso_gratuito is True %}
                gratuito.
                {% else %}
                particular.
                {% endif %}
                Ministrado pela {{ curso.cod_IES }}
            </div>
        </div>
        {% empty %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <i class="fas fa-info"></i>&nbsp; Sem resultados
            </div>
            <div class="panel-body">
                {% if q != '' %}
                Não existem cursos com os parâmetros de busca.
                {% else %}
                Não existem cursos registrados no momento.
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}