{% extends 'main/base.html' %}

{% block title %}CompMap | IES{% endblock %}

{% block ies_active %}active{% endblock %}

{% block content %}
<div class="container">
    <form class="navbar-form" role="search" method="get"
          action="{% url 'main:ies_list' %}">
        <input type="text" class="form-control" name="q"
               value="{{ request.GET.q }}" placeholder="Busca">
        <button type="submit" class="btn btn-default">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <br>
    <div class="panel-group">
        {% for ies in object_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fas fa-university"></i>&nbsp;
                <a href="{% url 'main:ies_detail' pk=ies.pk %}">
                    {{ ies.nome_IES }}
                </a>
            </div>
            <div class="panel-body">Instituição {{ ies.rede  }},
                {{ ies.departamento_administrativo }}. Mantida pela {{ ies.cod_mant }}</div>
        </div>
        {% empty %}
        <div class="panel panel-heading">
            <div class="panel-body">
                {% if q != '' %}
                Não existem Instituições com os parâmetros de busca.
                {% else %}
                Não existem Instituições registrados no momento.
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}