{% extends 'main/base.html' %}

{% block index_active %}active{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>CompMap</h1>
        <p>Uma aplicação de busca e gerenciamento de cursos de Computação</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais
            &raquo;</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 panel-">
            <h2>O que é?</h2>
            <p>lorem ipsum</p>
        </div>
        <div class="col-md-4">
            <h2>Quem usa?</h2>
            <p>Entre outros perfis de usuário, temos:</p>
            <ul>
                <li>Estudantes</li>
                <li>Professores</li>
                <li>Coordenadores</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Características</h2>
            <ul>
                <li>Responsivo</li>
                <li>Sistema de buscas</li>
                <li>Integração com o GoogleMaps</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}