{% extends 'main/base.html' %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>CompMap</h1>
        <p>Curta apresentação da ferramenta</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais
            &raquo;</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>O que é?</h2>
            <p>lorem ipsum</p>
        </div>
        <div class="col-md-4">
            <h2>Quem usa?</h2>
            <p>lorem ipsum</p>
        </div>
        <div class="col-md-4">
            <h2>Características</h2>
            <p>lorem ipsum</p>
        </div>
    </div>
</div>
{% endblock %}